@import "tailwindcss";

.spinner {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: conic-gradient(
    #5b21d6 0deg,
    #5b21d6 240deg,
    transparent 240deg
  );

  /* thinner stroke */
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - 6px),
    #000 0
  );
  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - 6px),
    #000 0
  );

  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

